<body class="container">
  <h1 class="text-center">My Aquarium
    <small>Powered by PI</small>
  </h1>
 
  <hr>
 
  <button type="button" id="" class="btn btn-info start" onclick="startStream()">Start Camera</button>
 
  <div class="row">
    <img src="" id="stream">
  </div>